---
---
<html>
<head>
    {% include header.html %}
</head>
<body>
    {% include sidebar.html %}
    <div id="main">
        <div id="main_text">
            <h1>
                Projects
            </h1>
            <ul>
                <li>
                    GoToMeeting (WebApp Lite)
                </li>
                <li>
                    Polaris
                </li>
                <li>
                    Chromebox
                </li>
                <li>
                    Telepresence
                </li>
                <li>
                    CallMe
                </li>
                <li>
                    Chaotics
                </li>
                <li>
                    Amazon DymanoDB
                </li>
                <li>
                    Search Engine
                </li>
                <li>
                    Amazon DymanoDB
                </li>
            </ul>
        </div>
    </div>
</body>
</html>