#name {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    text-align: center;
    margin-top: 35px;
}

#main {
    width: 500px;
    background-color: white;
    margin: 50px auto;
    font-size: 23px;
}

.sidebar {
    width: 10%;
    float: left;
    margin: 30px;
}

.sidebar li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    transition: color 0.5s ease;
}

.sidebar li:hover {
    color: cadetblue;
}

body {
    font-family: 'Roboto', serif;
    font-weight: 300;
}